# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore build and distribution files
build/
dist/
*.egg-info/

# Ignore log files
*.log
